.navBar {
    background: #D9D9D9;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    align-items: flex-end;
    margin-right: 69px;

}

.logIn {
    margin-right: 25px;
}

.logIn,
.signUp {
    display: flex;
    height: 25px;
    background: #ADADAD;
    border-radius: 10px;
    border: 1px solid #ADADAD;
    padding: 5px 50px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 51px;
    padding-top: 78px;
    padding-left: 68px;
    color: #000000;
}

header {
    background: #D9D9D9;
    padding-bottom: 200px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 80px;
    line-height: 96.82px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.getStarted {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.start {
    background: #ADADAD;
    border-radius: 30px;
    padding: 10px 80px;
    border: 1px solid #000000;
}

#language {
    background-color: #d9d9d9;
    border-radius: 6px;
    padding: 5px 25px;
    border: 1px solid #ADADAD;
}

.languageSelection {
    display: flex;
    justify-content: flex-end;
    margin-right: 69px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;

    // position: absolute;
    // width: 174px;
    // height: 24px;
    // left: 1269px;
    // top: 158px;
}

.headerInfo {
    display: flex;
    justify-content: center;
}

.headerP {
    width: 35%;
    text-align: center;
}

main {
    height: 1120px;
}

.row {
    padding-left: 69px;
    padding-right: 69px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

h3 {
    display: flex;
    justify-content: center;
    padding-top: 288px;
    padding-bottom: 76px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    color: #000000
}

footer {
    height: 354px;
    background: #D9D9D9;
}